@use "sass:color";
@use "../../foundation/variables" as *;

.c-base-card {
  position: relative;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    padding: $spacing-md $spacing-lg;
    border-bottom: 1px solid $color-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    color: $color-text;
    margin: 0;
  }

  &__body {
    padding: $spacing-lg;
    flex-grow: 1;
  }

  &__footer {
    padding: $spacing-md $spacing-lg;
    background-color: $color-bg;
    border-top: 1px solid $color-border;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  &__spinner {
    width: 32px;
    height: 32px;
    border: 3px solid $color-bg;
    border-top-color: $color-primary;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
