@use "sass:color";
@use "../../foundation/variables" as *;

.c-data-table-wrapper {
  width: 100%;
  overflow: hidden;
  border: 1px solid $color-border;
  border-radius: 8px;
  background-color: $color-white;
}

.c-data-table-container {
  position: relative;
  overflow-x: auto;
}

.c-data-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  text-align: left;

  &__th {
    padding: $spacing-md;
    font-weight: 600;
    color: $color-text;
    background-color: $color-bg;
    border-bottom: 1px solid $color-border;
    white-space: nowrap;

    &--checkbox {
      width: 40px;
      text-align: center;
    }

    &.is-sortable {
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: color.adjust($color-bg, $lightness: -2%);
      }
    }

    &--align-center { text-align: center; .c-data-table__th-content { justify-content: center; } }
    &--align-right { text-align: right; .c-data-table__th-content { justify-content: flex-end; } }
  }

  &__th-content {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
  }

  &__sort-icon {
    display: inline-flex;
    color: $color-text-light;
  }

  &__sort-placeholder {
    width: 14px;
    height: 14px;
  }

  &__tr {
    border-bottom: 1px solid $color-border;
    transition: background-color 0.2s;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: rgba($color-primary, 0.02);
    }

    &.is-selected {
      background-color: rgba($color-primary, 0.05);
    }
  }

  &__td {
    padding: $spacing-md;
    color: $color-text;

    &--checkbox {
      text-align: center;
    }

    &--align-center { text-align: center; }
    &--align-right { text-align: right; }
  }

  &__empty {
    padding: $spacing-xl;
    text-align: center;
    color: $color-text-light;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  &__spinner {
    width: 32px;
    height: 32px;
    border: 3px solid $color-bg;
    border-top-color: $color-primary;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}
