// _input-checkbox.scss

.c-input-checkbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    cursor: pointer;
  }

  &__input {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #cbd5e0;
    border-radius: 0.25rem;
    outline: none;
    transition: all 0.2s;
    background-color: white;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:checked {
      background-color: #3182ce;
      border-color: #3182ce;

      &::after {
        content: "";
        display: block;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        margin-bottom: 2px;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }

    &:disabled {
      background-color: #edf2f7;
      border-color: #cbd5e0;
      cursor: not-allowed;

      &:checked {
         background-color: #cbd5e0;
      }
    }
  }

  &__label {
    font-size: 1rem;
    color: #4a5568;
    cursor: pointer;
  }

  &__error {
    font-size: 0.875rem;
    color: #e53e3e;
  }

  &.is-disabled {
    opacity: 0.7;

    .c-input-checkbox__label {
      cursor: not-allowed;
      color: #a0aec0;
    }

    .c-input-checkbox__wrapper {
      cursor: not-allowed;
    }
  }

  &.has-error {
    .c-input-checkbox__input {
      border-color: #e53e3e;
    }
  }
}
