@use "sass:color";
@use "../../foundation/variables" as *;

.c-input-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;

  &__icon {
    position: absolute;
    left: $spacing-md;
    color: $color-text-light;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 0 $spacing-md 0 40px; // Left padding for icon
    font-size: 1rem;
    color: $color-text;
    background-color: $color-white;
    border: 1px solid $color-border;
    border-radius: 999px; // Pill shape
    outline: none;
    transition: all 0.2s ease;

    &::placeholder {
      color: $color-text-light;
    }

    &:focus {
      border-color: $color-primary;
      box-shadow: 0 0 0 2px color.adjust($color-primary, $alpha: -0.8);
    }

    &:disabled {
      background-color: $color-bg;
      cursor: not-allowed;
      color: $color-text-light;
    }
  }

  &.is-disabled {
    opacity: 0.7;
  }
}
